<div class="container">
    <!-- Controls -->
    <div class="controls">
        <div class="filters">
            <h3 class="controls-title">Category</h3>
            <div class="filter-buttons">
                {%for category in categories%}
                <button class="filter-btn">
                    <a href="{{category.get_absolute_url}}" style="text-decoration: none;">
                        {{category.name}}
                    </a>
                </button>
                {%endfor%}
            </div>
        </div>

        <div class="sort-section">
            <h3 class="controls-title">Sort by</h3>
            <select class="sort-select">
                <option value="featured">Featured</option>
                <option value="name">Name A-Z</option>
                <option value="name">Name Z-A</option>
            </select>
        </div>
    </div>


    <div class="products-grid">
        {%for product in products%}
        <div class="product-card">
            <div class="product-image-container">
                <a href="{{product.get_absolute_url}}">
                    <img src="{{product.image.url}}" alt="Premium Cotton T-Shirt"
                         class="product-image">
                </a>
                {%if product.status_discount%}
                <div class="discount-badge">-{{product.percent}}%</div>
                {%endif%}
            </div>
            <div class="product-info">
                <div class="product-category">{{product.category}}</div>
                <a href="{{product.get_absolute_url}}" style="text-decoration: none;">
                    <h3 class="product-name">{{product.name}}</h3>
                </a>
                <p class="product-description"></p>
                <div class="product-pricing">
                    {%if product.status_discount%}
                    <span class="current-price">${{product.price}}</span>
                    <span class="original-price">${{product.original_price}}</span>
                    {%else%}
                    <span class="current-price">${{product.price}}</span>
                    {%endif%}
                </div>
                <!--                <button class="add-to-cart">-->
                <!--                    <i class='bx bx-cart'></i>-->
                <!--                    Add to Cart-->
                <!--                </button>-->
            </div>
        </div>
        {%endfor%}
    </div>
</div>
