{%extends "main/base.html" %}
{%load static%}


{%block link%}
<link type="text/css" href="{% static 'main/css/detail.css' %}" rel="stylesheet">
{%endblock%}

{%block title%}{{product.name}}{%endblock%}

{%block content%}
<section class="product-details">
    <div class="product-container">
        <div class="product-image">
            <img src="{{product.image.url}}" alt="">
        </div>
        <div class="product-info">
            <h1 class="product-title">{{product.name}}</h1>
            {%if product.status_discount%}
            <div class="product-prices">
                <span class="price-discount">${{product.price}}</span>
                <span class="price-common">${{product.original_price}}</span>
                <span class="discount-label">{{product.percent}} OFF</span>
            </div>
            {%else%}
            <div class="product-prices">
                <span class="price-discount">${{product.price}}</span></div>
            {%endif%}
            <p class="product-description">{{product.description}}</p>
            {% if product.clothing_sizes.exists %}
            <div class="product-size">
                <label for="size-select">Select Size:</label>
                {%for size in product.clothing_sizes.all%}
                <div class="size-buttons">
                    <button class="size-btn" data-size="s">{{size.name}}</button>
                </div>
                {%endfor%}
            </div>
            {%endif%}
            {% if product.shoes_sizes.exists %}
            <div class="product-size">
                <label for="size-select">Select Size:</label>
                {%for size in product.shoes_sizes.all%}
                <div class="size-buttons">
                    <button class="size-btn" data-size="s">{{size.name}}</button>
                </div>
                {%endfor%}
            </div>
            {%endif%}
            <form action="{%url 'cart:cart_add' product.id%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="override" value="false">
                <button class="add-to-cart">Add to Cart</button>
            </form>
        </div>
    </div>

    <div class="comments-section">
        <h2>Customer Reviews</h2>
        <form class="comment-form" action="{%url 'comments:add_comment' product.id product.slug%}" method="post">
            {%csrf_token%}
            {{form.text}}
            <button id="submit-comment">Submit Review</button>
        </form>
        <div class="comments-list" id="comments-list">
            {%for comment in comments%}
            <div class="comment">
                <p class="comment-author">{{comment.user.first_name}} {{comment.user.last_name}}</p>
                <p class="comment-date">{{comment.created_at}}</p>
                <p class="comment-text">{{comment.text}}</p>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
{%endblock%}


{%block footer%}{%endblock%}