{%load static%}
{%load i18n%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock title%}</title>
    <link type="text/css" href="{% static 'main/css/header.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'main/css/footer.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    {%block link%}{%endblock link%}
</head>
<body>
    {%block header%}
        <header class="header">
        <a class="logo" href="{%url 'main:product_list'%}">DressCode</a>
        <div class="nav-container">
            <nav>
                <ul class="nav__links">
                    <li><a href="{%url 'main:product_list'%}">{%trans 'Catalog'%}</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{%url 'users:profile'%}">{%trans 'Profile'%}</a></li>
                    {%else%}
                    <li><a style="pointer-events: none;cursor: default; opacity: 0.67;">{%trans 'Profile'%}</a></li>
                    {%endif%}
                    <li><a href="{%url 'cart:cart_detail'%}">{%trans 'Basket'%} <span id="cart-counter" class="cart-counter">{% include 'cart/partial/count.html' %}</span></a>
                    </li>
                    <li><a id="openSearch" href="#"><i class='bx bx-search'></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="auth-buttons">
            {%get_current_language as LANGUAGE_CODE%}
            {%get_available_languages as LANGUAGES%}
            {%get_language_info_list for LANGUAGES as languages%}
            <div class="dropdown">
                <button class="dropdown-toggle" tabindex="0">
                    <span>{{LANGUAGE_CODE}}</span>
                    <div class="dropdown-arrow"></div>
                </button>
                <div class="dropdown-menu">
                    {%for language in languages%}
                    {%if language.code == LANGUAGE_CODE%}
                    <a href="/{{language.code}}/" style="text-decoration: none;"><button class="dropdown-item active" onclick="">{{language.code}}</button></a>
                    {%else%}
                    <a href="/{{language.code}}/" style="text-decoration: none;"><button class="dropdown-item" onclick="">{{language.code}}</button></a>
                    {%endif%}
                    {%endfor%}
                </div>
            </div>
            <a href="{%url 'users:register'%}">
                <button class="sign-up">{%trans 'Sign Up'%}</button>
            </a>
            <a href="{%url 'users:login'%}">
                <button class="login">{%trans 'Login'%}</button>
            </a>
        </div>
        <i class='bx bx-menu burger'></i>
        <div class="mobile-menu">
            <ul class="nav__links">
                <li><a href="{%url 'main:product_list'%}">{%trans 'Catalog'%}</a></li>
                <li><a href="{%url 'users:profile'%}">{%trans 'Profile'%}</a></li>
                <li><a href="{%url 'cart:cart_detail'%}">{%trans 'Basket'%} {% include 'cart/partial/count.html' %}</a></li>
                <li><a id="openSearchMobile" href="#"><i class='bx bx-search'></i></a></li>
            </ul>
            <div class="auth-buttons-mobile">
                <a href="{%url 'users:register'%}">
                    <button class="sign-up">{%trans 'Sign Up'%}</button>
                </a>
                <a href="{%url 'users:login'%}">
                    <button class="login">{%trans 'Login'%}</button>
                </a>
            </div>
        </div>
        <div id="searchModal" class="modal">
            <div class="modal-content">
                <span class="close">×</span>
                <input type="text" class="search-input" placeholder="{%trans 'Search...'%}">
            </div>
        </div>
    </header>
    {%endblock header%}

    {%block content%}
    {%endblock content%}

    {%block footer%}
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-section">
                    <h3 class="footer-h3">{%trans 'Quick Links'%}</h3>
                    <ul>
                        <li><a href="{% url 'main:about' %}">{%trans 'About Us'%}</a></li>
                        <li><a href="contact.html">{%trans 'Contact'%}</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3 class="footer-h3">{%trans 'Contact Us'%}</h3>
                    <p class="footer-p">{%trans 'Email'%}: support@dresscode.com</p>
                    <p class="footer-p">{%trans 'Phone'%}: +1-800-DRESSCODE</p>
                    <p class="footer-p">{%trans 'Address'%}: 123 Fashion St, Style City, SC 12345</p>
                </div>
                <div class="footer-section">
                    <h3 class="footer-h3">{%trans 'Follow Us'%}</h3>
                    <div class="social-links">
                        <a href="#" aria-label="Facebook"><i class='bx bxl-facebook'></i></a>
                        <a href="#" aria-label="Twitter"><i class='bx bxl-twitter'></i></a>
                        <a href="#" aria-label="Instagram"><i class='bx bxl-instagram'></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2025 DressCode. {%trans 'All rights reserved'%}. | {%trans 'Current time'%}: <span id="current-time"></span></p>
            </div>
        </footer>
    {%endblock footer%}
    <script src="{% static 'main/js/burger.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</body>
</html>